.content {
	margin-top: 150px;
}

.new_row {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.description_column {
	border: 4px solid orange;
	margin: 5px;
	vertical-align: center;
	background-color: #424242;
	color: white;
}

.heading {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
}

.text {
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

.link {
	color: orange;
}

.link:hover {
	color: white;
}